bertopic
undetected-chromedriver
streamlit>=1.35
pandas>=2.2
altair
nest_asyncio
google-generativeai
google-genai
requests
backoff
plotly
streamlit-tags
newspaper3k
lxml[html_clean]==5.1.0
python-dateutil
textblob
tweepy
matplotlib
protobuf==3.20.3
aiohttp
feedparser
spacy
selenium
trafilatura
sentence-transformers
joblib
datasets
transformers[torch]
scikit-learn
playwright
pdfplumber
python-docx
PyMuPDF
